<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.apache.cordova.plugins.PickerView"
	version="1.0.0">

	<name>PickerView</name>
	<description>PickerView for Android and IOS</description>
	<license>Apache 2.0</license>
	<keywords>UIPickerView, PickerView</keywords>
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/PickerView.js" name="PickerView">
		<clobbers target="PickerView" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PickerView">
				<param name="android-package" value="org.apache.cordova.plugins.PickerView" />
			</feature>
		</config-file>
		
		<source-file src="src/android/PickerView.java" target-dir="org/apache/cordova/plugins/PickerView" />
	</platform>
	
	<!-- ios -->
	<platform name="ios">
		<plugins-plist key="PickerView" />
		<header-file src="PickerView.h" />
		<source-file src="PickerView.m" />
	</platform>
</plugin>
